@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root {
    --bar: 80px;
    --pad: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'DM Mono', monospace;
    display: grid;
    grid-template-rows: var(--bar), 1fr, var(--bar);
}

header {
    position: fixed;
    width: 100%;
    height: var(--bar);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    padding: 0rem 3rem;
    background-color: #eee;
    border-top: .5px solid #ccc;
    border-bottom: .5px solid #ccc;
}

main {
    width: 100%;
    height: calc(100vh - var(--bar));
    padding-top: calc(var(--bar) + var(--pad));
    padding-bottom: var(--pad);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

section {
    /* background-color: var(--color1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    width: 100%;
    height: var(--bar);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-top: .5px solid #ccc;
    border-bottom: .5px solid #ccc;
}

img {
    margin: .5rem;
    max-width: 100px;
    max-height: 100px;
}